{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="post">
    <article>
        <header>
            <h1>{{ article.title }}</h1>
        </header>
        <div class='post-content'>
            {{ article.content }}
        </div>
    </article>

    <div class="metadata">
        <ul>
            <li>
                <strong>Published:</strong>
                <i><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></i>
            </li>
            <li>
                <strong>In:</strong>
                <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </li>
            {% if article.tags %}
            <li>
                <strong>Tags:</strong>
                {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> 
                {% endfor %}
            </li>
            {% endif %}
            <li>
                <strong>Written by:</strong>
                <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block footer %}
<section class='footer'>
    <div class="post social container row-fluid">
        <div class="span3">
            <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
        </div>
        <div class="span3">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="danielfrg">Tweet</a>
        </div>

        <div class="span3">
            <div class="g-plusone" data-size="medium" data-annotation="bubble"></div>
        </div>

        <div class="span3 hn">
            <span id="hnews"></span>
        </div>
    </div>

    <div id="disqus_thread" class="comments container"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

<script src="/theme/js/social.js"></script>
{% endblock %}