{% extends "base.html" %}
{% block title %}{{SITENAME}}{% endblock %}

{% block content %}
<div class="index">
    <p class='intro'>
        {{HOMEPAGE_INTRO}}
    </p>

    <div class="list">
        <p>Posts:</p>
        <ul>
        {% for article in articles %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2>
              <span>[ {{ article.locale_date }} ]</span>
            </a>
          </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
